<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Médicos 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-card *ngFor="let medico of medicos">
    <div  *ngIf="medico.active">
       
    <img src="{{medico.image}}">

    <ion-card-header>
      <ion-card-subtitle>{{medico.grade}}</ion-card-subtitle>
      <ion-card-title>{{medico.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{medico.description}}
    </ion-card-content>
    <ion-button href="{{medico.contact}}" fill="outline" slot="end">
      Contactar
      <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
    </ion-button>    

  </div>
</ion-card>

</ion-content>