<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Covid 19
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <img src="assets/img/img/coronavirus.png" />
        <ion-item>
            <ion-card-title>¿QUÉ ES EL CORONAVIRUS?</ion-card-title>
            <ion-button fill="outline" slot="end">Prevencion</ion-button>
        </ion-item>

        <ion-card-content>
            <p>Los coronavirus son una extensa familia de virus que pueden causar enfermedades tanto en animales como en humanos. En los humanos, se sabe que varios coronavirus causan infecciones respiratorias que pueden ir desde el resfriado común hasta
                enfermedades más graves como el síndrome respiratorio de Oriente Medio (MERS) y el síndrome respiratorio agudo severo (SRAS). El coronavirus que se ha descubierto más recientemente causa la enfermedad por coronavirus COVID-19. </p>‎
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="assets/img/img/covid19.png" />
        <ion-card-header>
            <ion-card-title>¿QUÉ ES LA COVID-19?</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>La enfermedad por coronavirus (COVID 19) es una ‎enfermedad infecciosa causada por un ‎coronavirus recientemente descubierto. La mayoría de las personas que enferman de ‎COVID 19 experimentan síntomas de leves a ‎moderados y se recuperan sin
                tratamiento ‎especial. </p>‎
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="assets/img/img/propagacion.png" />
        <ion-card-header>
            <ion-card-title>CÓMO SE PROPAGA</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>El virus que causa la COVID‑19 se transmite principalmente a través de las gotículas generadas cuando una persona infectada tose, estornuda o espira. Estas gotículas son demasiado pesadas para permanecer suspendidas en el aire y caen rápidamente
                sobre el suelo o las superficies.</p>‎
            <p>Usted puede infectarse al inhalar el virus si está cerca de una persona con COVID‑19 o si, tras tocar una superficie contaminada, se toca los ojos, la nariz o la boca.</p>‎
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="assets/img/img/sintomas.png" />
        <ion-card-header>
            <ion-card-title>SINTOMAS</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>La COVID-19 afecta de distintas maneras en función de cada persona. La mayoría de las personas que se contagian presentan síntomas de intensidad leve o moderada, y se recuperan sin necesidad de hospitalización.</p>‎
            <hr>
            <p>Los síntomas más habituales son los siguientes:</p>
            <ul>
                <li> Fiebre</li>
                <li> Tos seca </li>
                <li> Cansancio </li>
            </ul>
            <p>Otros síntomas menos comunes son los siguientes:</p>
            <ul>
                <li>Molestias y dolores</li>
                <li>Dolor de garganta</li>
                <li>Diarrea</li>
                <li>Conjuntivitis</li>
                <li>Dolor de cabeza</li>
                <li>Pérdida del sentido del olfato o del gusto</li>
                <li>Erupciones cutáneas o pérdida del color en los dedos de las manos o de los pie</li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="assets/img/img/tratamiento.png" />
        <ion-card-header>
            <ion-card-title>TRATAMIENTO</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p><strong>Cuidado personal</strong></p>
            <p>Si se siente enfermo debe descansar, beber mucho líquido y comer alimentos nutritivos. Permanezca en una habitación separada de los demás miembros de la familia y utilice un baño exclusivamente para usted si es posible. Limpie y desinfecte
                frecuentemente las superficies que toque.</p>
            <p>Todas las personas deben mantener un estilo de vida saludable en casa. Lleve una dieta saludable, duerma, manténgase activo y establezca contacto social con los seres queridos a través del teléfono o internet. Los niños necesitan dosis adicionales
                de cariño y atención de los adultos durante los momentos difíciles. Mantenga rutinas y horarios regulares en la medida de lo posible.</p>
            <p>Es normal sentirse triste, estresado o confundido durante una crisis. Hablar con personas en las que confíe, como amigos y familiares, le puede ayudar. Si se siente abrumado, hable con un trabajador de la salud o un consejero.</p>
            <hr>
            <p><strong>Tratamientos médicos</strong></p>
            <p>Si tiene síntomas leves y, por lo demás, está sano, aíslese y póngase en contacto con su proveedor de atención médica o con una línea de información sobre la COVID‑19 para recibir asesoramiento.</p>
            <p>Solicite atención médica si tiene fiebre, tos y dificultad para respirar. Llame con antelación.</p>

        </ion-card-content>
    </ion-card>
    <ion-button color="secondary" size="large" (click)="aPrevencion()" expands="block">Como prevenir</ion-button>


</ion-content>